/* =======  Varaibles  ========== */
:root{
    /*  Neutral*/
    --clr-white: hsl(0, 0%, 100%);
    --clr-grey-500: hsl(186, 15%, 59%);
    --clr-grey-900: hsl(187, 24%, 22%);  

    /* Primary */
    --clr-green-200: hsl(148, 38%, 91%);
    --clr-green-600: hsl(169, 82%, 27%);
    --clr-red: hsl(0, 66%, 54%);

}
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
ul,
li{
    list-style-type:  none;
}
html{
    font-size: 14px;
}
body{
    font-family: 'Quicksand', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-green-200);
}
h1{
    font-weight: 700;
    
}
.card{
    width:  90%;
    max-width: 500px;
    text-align: center;
    background-color: var(--clr-white);
    border-radius: 1rem;
    box-shadow: 2px 2px 0 rgb(0 0 0 / 0.1);
    padding:  2rem 1.5rem;
    margin:  3rem auto;
}
.card p{
    color: var(--clr-grey-500);
    font-size: .89rem;
    margin-top: .3rem;
}
.switch{
    margin:  1.2rem auto 3rem;
    padding: .5rem;
    background-color: red;
    width: 90%;
    max-width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: .5rem; */

    background-color: hsl(148, 38%, 95%);
    border-radius: 10px;
}
.btn{
    outline: none;
    border: none;
    background-color: transparent;
    font-family: inherit;
    padding: 1rem;
    font-weight: 600;
    font-size: 1rem;
    color: hsl(186, 15%, 59%);
}
.btn.active{
    background-color:  var(--clr-white);
    border-radius: inherit;
    color: var(--clr-grey-900);
}
label{
    display: block;
    text-align: start;
    font-weight: 600;
    margin-bottom: .6rem;
    color: var(--clr-grey-900);
}
.input-wrap{
    border:  1px solid var(--clr-grey-500);
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 1rem .4rem;
    border-radius: 10px;
    font-size: 19px;
}
input[type="number"]{
    flex: 1;
    border: transparent;
    outline: transparent;
    background: transparent;
    color: var(--clr-grey-900);
    padding: 4px;
    caret-color: var(--clr-grey-900);
    font-family: inherit;
    font-size: inherit;
}
input[type="number"]::placeholder{
    color: var(--clr-grey-500);
}
.input-wrap:has(input[type="number"]:focus){
    border:  1px solid var(--clr-green-600);
}
.tag{
    color: hsl(186, 15%, 40%);
    margin-right: 10px;
}
.convert-btn{
    margin:  3rem auto ;
    outline: transparent;
    border:  transparent;
    padding:  1.4rem 3rem;
    font-size: 1.2rem;
    border-radius: 50vh;
    color:  var(--clr-white);
    background-color:  var(--clr-green-600);
    font-weight: 600;
}
.results{
    background-color:  var(--clr-green-200);
    padding: 1.6rem 3rem;
    margin-bottom:  1.5rem;
    border-radius: 20px;
}
.results p{
    color:  var(--clr-green-600);
}
.result{
    font-size: 4rem;
    color:  var(--clr-green-600);
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}







