/* =======  Varaibles  ========== */
:root{
    /*  Neutral*/
    --clr-white: hsl(0, 0%, 100%);
    --clr-grey-500: hsl(186, 15%, 59%);
    --clr-grey-900: hsl(187, 24%, 22%);  

    /* Primary */
    --clr-green-200: hsl(148, 38%, 91%);
    --clr-green-600: hsl(169, 82%, 27%);
    --clr-red: hsl(0, 66%, 54%);

}
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
ul,
li{
    list-style-type:  none;
}
html{
    font-size: 15px;
}
body{
    font-family: 'Quicksand', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-green-200);
}












