/* =======  Varaibles  ========== */
:root{
    /*  Neutral*/
    --clr-white: hsl(0, 0%, 100%);
    --clr-grey-500: hsl(186, 15%, 59%);
    --clr-grey-900: hsl(187, 24%, 22%);  

    /* Primary */
    --clr-green-200: hsl(148, 38%, 91%);
    --clr-green-600: hsl(169, 82%, 27%);
    --clr-red: hsl(0, 66%, 54%);

}
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
ul,
li{
    list-style-type:  none;
}
html{
    font-size: 14px;
}
body{
    font-family: 'Quicksand', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-green-200);
}
h1{
    font-weight: 700;
    
}
.card{
    width:  90%;
    max-width: 500px;
    text-align: center;
    background-color: var(--clr-white);
    border-radius: 1rem;
    box-shadow: 2px 2px 0 rgb(0 0 0 / 0.1);
    padding:  2rem 1rem;
}
.card p{
    color: var(--clr-grey-500);
    font-size: .89rem;
    margin-top: .3rem;
}
.switch{
    margin:  1.2rem auto;
    padding: .5rem;
    background-color: red;
    width: 80%;
    max-width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: .5rem; */

    background-color: hsl(148, 38%, 95%);
    border-radius: 10px;
}
.btn{
    outline: none;
    border: none;
    background-color: transparent;
    padding: 1rem;
    font-weight: 500;
    font-size: 1rem;
}







